<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="Microsoft.Build" version="15.8.166" targetFramework="net461" />
  <package id="Microsoft.Build.Framework" version="15.8.166" targetFramework="net461" />
  <package id="Microsoft.Build.Utilities.Core" version="15.8.166" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net461" />
  <package id="Microsoft.DotNet.Cli.Utils" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="2.1.0" targetFramework="net461" />
  <package id="Microsoft.EntityFrameworkCore" version="2.1.2" targetFramework="net461" />
  <package id="Microsoft.EntityFrameworkCore.Abstractions" version="2.1.2" targetFramework="net461" />
  <package id="Microsoft.EntityFrameworkCore.Analyzers" version="2.1.2" targetFramework="net461" />
  <package id="Microsoft.EntityFrameworkCore.Design" version="2.1.2" targetFramework="net461" />
  <package id="Microsoft.EntityFrameworkCore.Relational" version="2.1.2" targetFramework="net461" />
  <package id="Microsoft.EntityFrameworkCore.Tools" version="2.1.2" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="2.1.2" targetFramework="net461" />
  <package id="Microsoft.Extensions.Caching.Memory" version="2.1.2" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration" version="2.1.1" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.1.1" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="2.1.1" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection" version="2.1.1" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.1.1" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyModel" version="2.1.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging" version="2.1.1" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.1.1" targetFramework="net461" />
  <package id="Microsoft.Extensions.Options" version="2.1.1" targetFramework="net461" />
  <package id="Microsoft.Extensions.Primitives" version="2.1.1" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Setup.Configuration.Interop" version="1.16.30" targetFramework="net461" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="Npgsql" version="4.0.2" targetFramework="net461" />
  <package id="Npgsql.EntityFrameworkCore.PostgreSQL" version="2.1.1.1" targetFramework="net461" />
  <package id="NuGet.Common" version="4.3.0" targetFramework="net461" />
  <package id="NuGet.Configuration" version="4.3.0" targetFramework="net461" />
  <package id="NuGet.DependencyResolver.Core" version="4.3.0" targetFramework="net461" />
  <package id="NuGet.Frameworks" version="4.3.0" targetFramework="net461" />
  <package id="NuGet.LibraryModel" version="4.3.0" targetFramework="net461" />
  <package id="NuGet.Packaging" version="4.3.0" targetFramework="net461" />
  <package id="NuGet.Packaging.Core" version="4.3.0" targetFramework="net461" />
  <package id="NuGet.ProjectModel" version="4.3.0" targetFramework="net461" />
  <package id="NuGet.Protocol" version="4.3.0" targetFramework="net461" />
  <package id="NuGet.Versioning" version="4.3.0" targetFramework="net461" />
  <package id="ReactiveUI" version="8.7.2" targetFramework="net461" />
  <package id="ReactiveUI.WPF" version="8.7.2" targetFramework="net461" />
  <package id="Remotion.Linq" version="2.2.0" targetFramework="net461" />
  <package id="Splat" version="5.0.2" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net461" />
  <package id="System.Collections" version="4.0.11" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net461" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="net461" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.5.0" targetFramework="net461" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Globalization" version="4.0.11" targetFramework="net461" />
  <package id="System.Interactive.Async" version="3.2.0" targetFramework="net461" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net461" />
  <package id="System.Linq" version="4.1.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.1" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Reactive" version="4.1.0" targetFramework="net461" />
  <package id="System.Resources.ResourceManager" version="4.0.1" targetFramework="net461" />
  <package id="System.Runtime" version="4.1.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.1" targetFramework="net461" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
  <package id="System.Threading" version="4.0.11" targetFramework="net461" />
  <package id="System.Threading.Tasks.Dataflow" version="4.5.24" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.1" targetFramework="net461" />
  <package id="System.Threading.Thread" version="4.0.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>